In [4]:
message = "Asalam u alikum, python world!"
print(message)

Asalam u alikum, python world!

In [5]:
message2 = "I m from usman institute of technology"
message3 = "my students are great ..."
print(message2)
print(message3)

I m from usman institute of technology
my students are great ...

In [6]:
name = "SHaikh kHurRam khAlil"
# three functions can be used title(), upper(), lower())
print(name.title())
print(name.lower())
print(name.upper())

Shaikh Khurram Khalil
shaikh khurram khalil
SHAIKH KHURRAM KHALIL

In [ ]:
message = input("tell me something, and I will repeat it back to you: ")
print(message)

In [1]:
name = input("please enter your name: ")
print("assalam u alikum , " + name + "!")

please enter your name: asc
assalam u alikum , asc!

In [2]:
uni_first_name = "Usman"
uni_middle_name = "institute of"
uni_last_name = "technology"
full_name = uni_first_name + " " + uni_middle_name + " " + uni_last_name
print(full_name)

Usman institute of technology

In [4]:
print("I am learning python programming.")
print("I am learning \t python \t programming.")

I am learning python programming.
I am learning 	 python 	 programming.

In [5]:
print("I learned these programming languages: \n C \n Java \n python")

I learned these programming languages:
 C
 Java
 python

In [12]:
# Add, Sub, Mul, Div, Pow
print(2+5)
print(6-4)
print(7*8)
print((3+5)*2)
print(8/4)
print(2+3+4+5+45) 
print(56/4)
print(81/9)
print(67*34)
print(45**4)
print(2.5*65)

7
2
56
16
2.0
59
14.0
9.0
2278
4100625
162.5

# lab 01

In [1]:
name = input("what is your name: ")
age = int(input("what is your age: "))

year = str((2018-age)+100)

print(name + "will be 100 year old in the year :" + year)

what is your name: sds
what is your age: 34
sdswill be 100 year old in the year :2084

In [4]:
print("twinkel, twinkel, little star, \n\tHow i wonder what you are, \n\t\t up above the world so high, \n\t\t like the diamond in the sky. \n twinkel, twinkel, little star, \n\t how i wonder hwat you are! ")

twinkel, twinkel, little star,
	How i wonder what you are,
		 up above the world so high,
		 like the diamond in the sky.
 twinkel, twinkel, little star,
	 how i wonder hwat you are!

In [7]:
import datetime
now = datetime.datetime.now()
print("current date and time: ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

current date and time:
2018-10-12 12:21:51

In [1]:
from math import pi
r = float(input("input the radius of the circle: "))
print("the radius of the circle is: " + str(r) + str(pi*r**2))

input the radius of the circle: 40
the radius of the circle is: 40.05026.548245743669

In [3]:
fname = input("your first name: ")
Iname = input("your final name: ")
print("hello " + Iname + "" + fname)

your first name: khurram
your final name: khalil
hello khalilkhurram

In [7]:
import calendar
y = int(input("input the year: "))
m = int(input("input the month: "))
print(calendar.month(y,m))

input the year: 2018
input the month: 9
   September 2018
Mo Tu We Th Fr Sa Su
                1  2
 3  4  5  6  7  8  9
10 11 12 13 14 15 16
17 18 19 20 21 22 23
24 25 26 27 28 29 30